# Lists

In [162]:
classroom=['sian','john','roger','andy','cath','fede','lucas','miguel','pau']

In [163]:
#index to select members of the list
classroom[4]

'cath'

## iterate through list and do something - eg make upper case

In [164]:
for i in classroom:
    classroom[i].upper() # expected error

TypeError: list indices must be integers or slices, not str

In [165]:
classroom['cath'] # expected error

TypeError: list indices must be integers or slices, not str

In [9]:
for i in classroom:
    print(i)

sian
john
roger
andy
cath
fede
lucas
miguel
pau

In [168]:
for i in range(len(classroom)): 
    print(i)

0
1
2
3
4
5
6
7
8

In [169]:
# using range(len(list)) to make the iterator into 0,1,2,3...
for i in range(len(classroom)):
    classroom[i]=classroom[i].upper()

In [170]:
classroom

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [171]:
#alternative method - create empty list 
cap_list=[]
for i in classroom:
    cap_list.append(i.upper())

In [172]:
cap_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

## list comprehension for iteration

In [154]:
# list comprehension - when iterable target is a list 
classroom

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [155]:
j_list=[i for i in classroom if i.startswith('J')]

In [158]:
j_list

['JOHN']

In [156]:
j_list_2=[i.startswith('J') for i in classroom]

In [157]:
j_list_2

[False, True, False, False, False, False, False, False, False]

In [160]:
lower_list=[i.lower() for i in classroom]

In [161]:
lower_list

['sian', 'john', 'roger', 'andy', 'cath', 'fede', 'lucas', 'miguel', 'pau']

In [ ]:
# integer / index to select or iterate 
# list[int]

# with these integers we can slice the list 
# list[4:8]

## integers slice the list

In [42]:
upper_list[4:8]

['CATH', 'FEDE', 'LUCAS', 'MIGUEL']

In [43]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

## Append list

In [44]:
# append a list 
# list.append('paupau')
upper_list.append('PAUPAU')

In [45]:
upper_list

['SIAN',
 'JOHN',
 'ROGER',
 'ANDY',
 'CATH',
 'FEDE',
 'LUCAS',
 'MIGUEL',
 'PAU',
 'PAUPAU']

In [46]:
upper_list.remove('PAUPAU')

In [47]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

# Dictionaries

In [48]:
topics={1:'pandas',2:'sql',3:'tableau',4:'agile'}

In [52]:
topics[1] # using the key to select

'pandas'

In [53]:
topics.keys() # review keys of the dictionary

dict_keys([1, 2, 3, 4])

In [54]:
topics[5]='json' # add a new value key pair

In [55]:
topics

{1: 'pandas', 2: 'sql', 3: 'tableau', 4: 'agile', 5: 'json'}

In [56]:
topics.values()

dict_values(['pandas', 'sql', 'tableau', 'agile', 'json'])

In [59]:
for value in topics.values():
    print(value.upper())

PANDAS
SQL
TABLEAU
AGILE
JSON

In [60]:
for key in topics.keys():
    print(key)

1
2
3
4
5

In [61]:
for key,value in topics.items():
    print(key,'....',value)

1 .... pandas
2 .... sql
3 .... tableau
4 .... agile
5 .... json

# Nested Lists

In [62]:
sians_class=[['sian','john'],
             ['roger','cath','fede','lucas','miguel','andy'],
             ['pau']]

In [63]:
sians_class[0][0][0]

's'

In [68]:
sians_class[0]

['sian', 'john']

In [84]:
my_family=['leri','aled','david',
          ['gilly',['jack'],'sian'],
          'carole',['tracy',['joel','ellis']]]

In [85]:
print('my nephew is '+ my_family[3][1][0])

my nephew is jack

In [86]:
my_family[3][1][0]

'jack'

# Nested Dictionaries

In [89]:
shapes={1:{'colour':'blue','shape':'circle','sides':'1'},
       2:{'colour':'orange','shape':'triangle','sides':'3'},
       3:{'colour':'green','shape':'square','sides':'4'}}

In [ ]:
- print the no of sides of the square 
- print the colour of the circle 
- print the shape of the second object

In [91]:
type(shapes)

dict

In [97]:
print(shapes[3]['sides'])

4

In [94]:
print(shapes[1]['colour'])

blue

In [96]:
print(shapes[2]['shape'])

triangle

In [98]:
shapes[2].keys()

dict_keys(['colour', 'shape', 'sides'])

# json objects

In [99]:
import json

In [100]:
json_1=json.load(open('example_1.json'))

In [101]:
json_1

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [104]:
json_1['size']

'Large'

In [105]:
json_2=json.load(open('example_2.json'))

In [114]:
json_2

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [110]:
json_4=json.load(open('sample4.json'))

In [112]:
json_4

{'people': [{'firstName': 'Joe',
   'lastName': 'Jackson',
   'gender': 'male',
   'age': 28,
   'number': '7349282382'},
  {'firstName': 'James',
   'lastName': 'Smith',
   'gender': 'male',
   'age': 32,
   'number': '5678568567'},
  {'firstName': 'Emily',
   'lastName': 'Jones',
   'gender': 'female',
   'age': 24,
   'number': '456754675'}]}

In [137]:
# prettify the json code - makes it more readable 
json_formatted=json.dumps(json_2,indent=3)

In [138]:
print(json_formatted)

{
   "quiz": {
      "sport": {
         "q1": {
            "question": "Which one is correct team name in NBA?",
            "options": [
               "New York Bulls",
               "Los Angeles Kings",
               "Golden State Warriros",
               "Huston Rocket"
            ],
            "answer": "Huston Rocket"
         }
      },
      "maths": {
         "q1": {
            "question": "5 + 7 = ?",
            "options": [
               "10",
               "11",
               "12",
               "13"
            ],
            "answer": "12"
         },
         "q2": {
            "question": "12 - 8 = ?",
            "options": [
               "1",
               "2",
               "3",
               "4"
            ],
            "answer": "4"
         }
      }
   }
}